a {
    text-decoration: none;
    color: white;
}


body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title button {
    border: 0;
    background-color: #3882F6;
    font-weight: 900;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 10px 20px;
    align-self: flex-start;
}

.sign-up button {
    background-color: #3882F6;
    font-weight: 900;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    height: 72px;
}

.hero {
    background-color: #1F2937;
    padding: 0px;
    margin: 0px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex:1;
}

.illustrations {
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
    border-radius: 10px;
    margin: 20px;
}

.illustration {
    max-width: 200px;
    width: 200px;
    align-items: center;
    text-align: center;
}

.illustration img{
    width: 200px;
    height: 200px;
}

.chrollo {
    border-radius: 25px;
    border: 5px;
    border-color: black;
    border-style: solid;
}


.footer {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}

.left-side,
.right-side {
    font-weight: 80;
    display: flex;
    gap: 16px;
    padding: 16px;
    color: #E5E7EB;
}

.title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 48px;
    width: 500px;
    color: #F9FAF8;
    font-weight: 900;
}

.subtitle {
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
    font-weight: 100;
    margin-bottom: 30px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 18px;
    margin: 80px;
}

.container img {
    width: 300px;
    height: auto;
}

.quote {
    display: flex;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 300px;
}

.author {
    align-self:self-end;
    font-weight: 700;
}

.sign-up {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    margin: 100px;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 50px;
    flex-direction: column;
    margin: 18px;
}

.info-text {
    margin: 18px;
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.desc {
    color: gray;
}

.sign-up-title {
    font-weight: 700;
}